<div>

  <form [formGroup]="productForm" (ngSubmit)="createProduct()">

      <textarea formControlName="Name" formControlName="Name" class="form-control" placeholder="Insert Product Name"></textarea>
      <textarea formControlName="Color" class="form-control" placeholder="Insert Color Type"></textarea>
      <textarea formControlName="Gender" class="form-control" placeholder="Insert Gender Type"></textarea>
      <textarea formControlName="Price" class="form-control" placeholder="Insert Product Price"></textarea>
      <textarea formControlName="Review" class="form-control" placeholder="Insert Product Review"></textarea>
      <textarea formControlName="Picture" class="form-control" placeholder="Upload The Product Picture"></textarea>





      <div class="text-center">
        <button (click)="productForm.getRawValue().createProduct(productForm)" class="btn btn-info" type="submit">Save</button>
      </div>
  </form>
</div>
