<!-- mine real one -->
<div class="pr-5 pl-5 mt-5 ">
<div class="mt-6 card gedf-card">
  <form [formGroup]="storyForm" (ngSubmit)="createStory()">

    <div class="card-body">

      <textarea formControlName="title" class="form-control"  placeholder="Story's title"></textarea>
      <h1>
      </h1>
      <textarea formControlName="text" class="form-control" placeholder="What's your Story?"></textarea>

      <div class="text-right">
        <button class="btn btn-primary" type="submit">share</button>
      </div>

    </div>
  </form>

</div>
<div *ngIf="stories">
  <div *ngFor="let story of stories">
    <div class="card">
      <!-- head of the card-->
      <div class="card-header">
        <div class="d-flex">
          <div class="p-2">
          <img class="circle" src="{{story.user.picture}}" alt="">
          <style>
            .circle {
              height: 50px;
              width: 50px;
              background-color: #555;
              border-radius: 50%;
            }
          </style>
          </div>


          <div class="h7 p-2">{{story.user.username}}</div>


          <div class="ml-auto p-2 float-right">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            ..
          </button>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <button *ngIf="currentUser == story.user.username" class="dropdown-item" type="button">Update</button>
            <button *ngIf="currentUser == story.user.username" (click)="deleteStory(story.id)" class="dropdown-item" type="button">Delete</button>
            <button class="dropdown-item" type="button">Report</button>
          </div>
          </div>
        </div>
      </div>




      <!-- end of the head of the card-->
      <!-- body of the card-->
      <div class="card-body">
        <div class="text-muted mb-2">
          <h4>
            <i class="fa fa-clock-o"></i>  {{story.date}}
          </h4>
          <h1 class="card-title" style="color:#0000EE" > {{story.title}} </h1>

          <h2>
            <p class="card-text">

              {{story.text}}

            </p>
          </h2>


      </div>
    </div>
  </div>
    <h1>

    </h1>
</div>
</div>
</div>
<div *ngIf=" !stories" class="progress">
  <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 100%" aria-valuenow="" aria-valuemin="0" aria-valuemax="100">Loading</div>
</div>

