<div class="parallax">

<div>

<section class="intro">


  <div class="container">

  </div>

</section>

<!-- Intro Section-->


<section class="intro">
  <div class="container">
    <img class="mb-5" style="width: 1200px;" src="https://scontent.faal1-1.fna.fbcdn.net/v/t1.15752-9/s2048x2048/46487968_889643064565454_3896740951971856384_n.png?_nc_cat=106&_nc_ht=scontent.faal1-1.fna&oh=f511e6e3f3dfe0b0fb83b22dbac8fd3f&oe=5C9C6A93">

    <div class="row ">
      <h1 class="offset-md-4 mt-5 mb-5"><strong> Clothes for your story </strong></h1>


    </div>
  </div>
</section>


<!-- Content 1 -->
<section *ngIf="randomProduct2" class="content mt-5 mb-5">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <img class="img-responsive img-circle center-block" style="max-height: 450px; min-width: 450px" src="{{randomProduct2.picture}}" alt="">
      </div>
      <div class="col-sm-6">
        <h2 class=" section-header" style="color: black"  ><strong>{{randomProduct2.name}}</strong></h2>
        <p class="text-light"><strong>{{randomProduct2.description}}</strong></p>
        <a  routerLink="/product/{{randomProduct2.id}}" class="btn btn-primary btn-lg">Get it</a>
      </div>

    </div>
  </div>
</section>

<!-- Content 2 -->
<section *ngIf="randomProduct1" class="content content-2 mt-5 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h2 class=" section-header" style="color: black">{{randomProduct1.name}}</h2>
        <p class="text-light"><strong>{{randomProduct1.description}}</strong></p>
        <a routerLink="/product/{{randomProduct1.id}}" class="btn btn-default btn-lg">Get it</a>
      </div>
      <div class="col-sm-6">
        <img class="img-responsive img-circle center-block"  style="max-height: 450px; min-width: 450px" src="{{randomProduct1.picture}}" alt="">
      </div>


    </div>
  </div>
</section>

<!-- Promos -->
  <section *ngIf="randomStory1 && randomStory2" class="content content-2 p-5">
    <div class="card ">
      <!-- head of the card-->
      <div class="card-header">
        <div class="d-flex">
          <div class="mt-4 pr-2">
          Featured story from:
          </div>
          <div class="p-2">
            <img class="circle" src="{{randomStory1.user.picture}}" alt="">
            <style>
              .circle {
                height: 50px;
                width: 50px;
                background-color: #555;
                border-radius: 50%;
              }
            </style>
          </div>


          <div class="h7 mt-4 pr-2">{{randomStory1.user.username}}</div>

          <div class="ml-auto p-2 float-right" style="position:relative;">

            <button routerLink="/story" class="btn btn-secondary " type="button">
              Write Yours
            </button>

          </div>
        </div>
      </div>




      <!-- end of the head of the card-->
      <!-- body of the card-->
      <div class="card-body">
        <div class="text-muted mb-2">

            <h2 class="card-text" style="color: black;">

              {{randomStory1.text}}

            </h2>


        </div>
      </div>
    </div>


    <div class="card mt-5">
      <!-- head of the card-->
      <div class="card-header">
        <div class="d-flex">
          <div class="mt-4 pr-2">
            Featured story from:
          </div>
          <div class="p-2">
            <img class="circle" src="{{randomStory2.user.picture}}" alt="">
            <style>
              .circle {
                height: 50px;
                width: 50px;
                background-color: #555;
                border-radius: 50%;
              }
            </style>
          </div>


          <div class="h7 mt-4 pr-2">{{randomStory2.user.username}}</div>

          <div class="ml-auto p-2 float-right" style="position:relative;">

            <button routerLink="/story" class="btn btn-secondary " type="button">
              Write Yours
            </button>

          </div>
        </div>
      </div>




      <!-- end of the head of the card-->
      <!-- body of the card-->
      <div class="card-body">
        <div class="text-muted mb-2">

          <h2 class="card-text" style="color: black;" >

            {{randomStory2.text}}

          </h2>


        </div>
      </div>
    </div>
  </section>
<!-- Content 3-->
<section class="content content-3">
  <div class="container">

  </div>
</section>
</div>
</div>
